/*==============fonts area ==============*/
@font-face {
    font-family: 'Metropolis-Black';
    src: url('../fonts/Metropolis-Black.woff2') format('woff2'),
        url('../fonts/Metropolis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-ExtraBold';
    src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'),
        url('../fonts/Metropolis-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Bold';
    src: url('../fonts/Metropolis-Bold.woff2') format('woff2'),
        url('../fonts/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Light';
    src: url('../fonts/Metropolis-Light.woff2') format('woff2'),
        url('../fonts/Metropolis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Medium';
    src: url('../fonts/Metropolis-Medium.woff2') format('woff2'),
        url('../fonts/Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Regular';
    src: url('../fonts/Metropolis-Regular.woff2') format('woff2'),
        url('../fonts/Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-Thin';
    src: url('../fonts/Metropolis-Thin.woff2') format('woff2'),
        url('../fonts/Metropolis-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis-SemiBold';
    src: url('../fonts/Metropolis-SemiBold.woff2') format('woff2'),
        url('../fonts/Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/*==============end fonts area ==============*/


body{
	font-family: Metropolis-Regular;
}

a{
	text-decoration: none;
}
button:focus, button:a{
	outline: none;
	box-shadow: none;
}
.form-control:focus{
    outline: none;
    box-shadow: none;
}

p {
    color: #000;
}
body {
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

.cmn-btn {
    background: #32B6A8;
    color: #FFF;
    font-family: 'Metropolis-Bold';
    text-transform: uppercase;
    padding: 15px 30px 14px;
    display: inline-block;
    border-radius: 35px;
    font-size: 14px;
}
.cmn-btn:hover{
    color: #fff;
}
.heading h2 {
    color: #000;
    font-size: 40px;
    font-family: 'Metropolis-ExtraBold';
    line-height: 44px;
    margin-bottom: 15px;
}
.heading p {
    color: #000;
    font-size: 16px;
    margin-bottom: 0px;
}
.heading hr {
    width: 80px;
    opacity: 1;
    color: #71569d;
    margin: 17px 0px;
}


/*======== header area =========*/
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-area {
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    background-color: transparent;
}
.appointment-header {
    display: flex;
    align-items: center;
}
.apt-contact {
    display: flex;
    align-items: center;
}
.apt-contact p {
    display: flex;
    align-items: center;
}
.apt-contact p {
    margin-bottom: 0px;
    margin-right: 20px;
    color: #000;
    font-family: 'Metropolis-Bold';
}
.apt-contact a{
    color: #fff;
}
.apt-contact p img {
    margin-right: 6px;
}
.book-btn a {
    background-color: #32B6A8;
    color: #fff;
    font-family: 'Metropolis-Bold';
    padding: 10px 23px;
    display: inline-block;
    border-radius: 32px;
    font-size: 14px;
    margin: 0px 0px;
}
.top-lft-logo img {
    width: 190px;
}
.apt-contact .cmn-btn {
    background-color: #32B6A8;
    color: #fff;
    font-family: 'Metropolis-Bold';
    padding: 10px 23px;
    display: inline-block;
    border-radius: 32px;
    font-size: 14px;
    margin: 0px 0px;
    margin-right: 15px;
}

/*======== end header area =========*/


/*========== home banner area ========*/
.home-banner-area {
    background-color: #fff6f0;
    padding: 110px 0px 50px;
    background-image: url('../images/LP_Banner-min.webp');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.home-banner-area .banner-lft-cnt h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 10px;
    font-family:'Metropolis-ExtraBold';
    text-transform: capitalize;
}
.slide-btn a {
    margin-right: 15px;
}
.banner-lft-cnt p {
    font-family: 'Metropolis-Bold';
    font-size: 20px;
    color: #fff;
}
.cmn-btn.dt-sol {
    background: #fff;
    color: #29696D;
    box-shadow: none;
}
.home-banner-area .row {
    align-items: center;
}
.banner-lft-cnt .slide-btn {
    margin-top: 30px;
}
.book-appointment-out{
    position: relative;
}
.book-appointment {
    border-radius: 20px;
    padding: 30px 40px;
    height: 100%;
    background-color: #fff;
    position: relative;
    z-index: 99;
}
.book-appointment h2 {
    color: #32B6A8;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 20px;
    font-family: 'Metropolis-ExtraBold';
    text-align: center;
}
.book-appointment .service-form .input-group {
    margin-bottom: 15px;
    position: relative;
}
.book-appointment .service-form .input-group .input-group-text {
    background-color: transparent;
    border: 0px;
    color: #32B6A8;
    font-size: 18px;
    position: absolute;
    z-index: 99;
    left: 6px;
    top: 5px;
    padding: 8px;
}
.book-appointment .service-form .input-group .input-group-text i {
    color: #32B6A8;
}
.book-appointment .service-form .input-group .form-control {
    padding: 11px 11px;
    font-size: 15px;
    padding-left: 44px;
    color: #000;
    border-radius: 13px !important;
    border: solid 1px #32B6A8;
    background-color: #fff;
}
.book-appointment .service-form .input-group .form-control::-webkit-input-placeholder { /* Edge */
  color: #000;
}
.book-appointment .service-form .input-group .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}
.book-appointment .service-form .input-group .form-control::placeholder {
  color: #000;
}
.form-sbmt-btn {
    margin-bottom: 22px;
}
.form-sbmt-btn .cmn-btn {
    border: none;
    padding: 12px 40px 12px;
    background-color: #29696D;
}
.form-check  .form-check-label {
    color: #000;
    font-size: 14px;
}
.after-smbt-p p{
    font-size: 14px;
    color: #000;
}
.book-appointment .service-form .input-group .form-control.error {
    background-image: url(../images/exclamation.png);
    background-size: 13px auto, auto;
    background-repeat: no-repeat,no-repeat;
    background-position: 98% 50%;
}
.book-appointment .captcha-inp .form-control.error{
    background-image: url(../images/exclamation.png);
    background-size: 13px auto, auto;
    background-repeat: no-repeat,no-repeat;
    background-position: 56% 50%;
}
/*g captcha*/
.input_box.captcha-inp {
    position: relative;
    margin-bottom: 20px;
}
.captcha-inp span {
    background-color: #cdcecf;
    padding: 6px 24px;
    border-radius: 0px;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 13px 13px 0;
}

.captcha-load {
    position: absolute;
    top: 6px;
    right: -50px;
}
.book-appointment .captcha-inp .form-control {
    padding: 11px 85px 11px 11px !important;
    font-size: 15px;
    padding-left: 44px;
    color: #000;
    border-radius: 13px !important;
    border: solid 1px #32B6A8;
    background-color: #fff;
}
/*========== end home banner area ========*/

.implant-bx img {
    height: 206px;
    object-fit: contain;
    width: 100%;
}

/*======== about area =========*/
.about-area {
    padding: 70px 0px;
    background-color: #f2f6ff;
}
.count-up {
    text-align: left;
}
.usp_box img {
    /*display: block;*/
    margin-bottom: 6px;
}
.usp_box h2 {
    color: #000000;
    font-size: 36px;
    margin-bottom: 0px;
    display: inline-block;
    font-family: 'Metropolis-Bold';
}
.usp_box span {
    color: #000000;
    font-size: 36px;
    margin-bottom: 0px;
    display: inline-block;
    font-family: 'Metropolis-Bold';
    line-height: 18px;
}
.usp_box p {
    font-family: 'Metropolis-Medium';
    font-size: 16px;
}
.abou-rgt-cnt {
    padding-right: 70px;
}
.abou-rgt-cnt .heading hr {
    width: 90%;
    opacity: 1;
    color: #29696D;
    margin: 30px 0px;
}
.abou-rgt-cnt .heading h2 {
    margin-bottom: 20px;
}


/*======== end about area =========*/

/*========= Dental Treatments area ==========*/
.dental-treatments-area {
    /*background-color: #f2f6ff;*/
    padding: 60px 0px;
}
.dental-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dental-heading .heading p {
    color: #363636;
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 27px;
}
.dental-treat-bx {
    box-shadow: 0px 0px 13px #f3f3f3;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    min-height: 460px;
}
.dent-treat-cnt {
    padding: 25px 30px;
}
.dental-treatments-slide {
    padding-top: 30px;
}
.dent-treat-cin img {
    width: 100%;
    height: 215px;
    object-fit: cover;
}

.dent-treat-cnt h3 {
    color: #000;
    font-family: 'Metropolis-Bold';
    font-size: 21px;
    margin-bottom: 10px;
    min-height: 50px;
}
.dent-treat-cnt p {
    color: #363636;
    margin-bottom: 10px;
    min-height: 288px;
}
.dent-treat-cnt a {
    color: #29696D;
    font-family: 'Metropolis-Bold';
    font-size: 16px;
}
.dental-treatments-slide .owl-carousel .owl-nav button.owl-next, .dental-treatments-slide .owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-left: 10px;
    font-size: 20px;
    line-height: 42px;
    color: #32B6A8;
    background-color: #fff;
    box-shadow: 0px 0px 11px #eee;
}
.dental-treatments-slide .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    right: 0;
    top: 48%;
    left: -15px;
}
.dental-treatments-slide .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 48%;
    right: -8px;
}
/*========= end Dental Treatments area ==========*/



/*======= dentel treatment area ======*/
.digital-bytes-area {
    position: relative;
    padding: 40px 0px 60px;
}
.digital-bytes-area:after {
    content: '';
    height: 218px;
    width: 73%;
    background-color: #fdebdd;
    position: absolute;
    top: 10px;
    border-radius: 15px 0px 0px 15px;
    right: 0;
}
.digital-bytes-slide .owl-nav {
    position: absolute;
    top: 228px;
    left: -32%;
}
.digital-bytes-slide .owl-carousel .owl-nav button.owl-next, .digital-bytes-slide .owl-carousel .owl-nav button.owl-prev {
    width: 35px;
    height: 35px;
    border: solid 1px #000;
    border-radius: 100px;
    margin-left: 10px;
}

.bytes-image img {
    width: 105px !important;
    margin: 0 auto;
}
.bytes-image {
    text-align: center;
    box-shadow: 0px 0px 7px #eee;
    border-radius: 20px;
    padding: 30px 24px;
    background-color: #fff;
    margin: 10px;
    min-height: 370px;
    border:solid 1px #fff;
}
.bytes-image:hover{
    border:solid 1px #71569d;
}
.bytes-image h3 {
    color: #000;
    font-size: 20px;
    font-family: 'Metropolis-Bold';
    margin-bottom: 6px;
    margin-top: 15px;
}
.digital-bytes-slide {
    position: relative;
    margin-right: -100px;
}
.bytes-image p {
    font-size: 15px;
}
.byt-click {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: solid 1px #71569d;
    border-radius: 100px;
    display: block;
    background-color: #71569d;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.byt-click:hover{
    color: #fff;
}

.wd-nbn {
    text-align: center;
    margin-top: 25px;
}
.talk-to-cd {
    display: inline-block;
    background: #32B6A8;
    border-radius: 60px;
    padding: 8px 25px 8px 15px;
    color: #fff;
    text-decoration: none;
    text-align: left;
    margin: 40px 0 0;
}
.talk-to-cd .t-inner {
    display: flex;
    align-items: center;
}
.talk-to-cd .t-info {
    text-align: left;
    padding-left: 20px;
}
.talk-to-cd h6 {
    font-size: 17px;
    margin-bottom: 2px;
    text-align: left;
    font-family: 'Metropolis-Bold';
    color: #fff;
}
.talk-to-cd h2 {
    font-size: 21px;
    font-family: 'Metropolis-Bold';
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}

/*======= end dentel treatment area ======*/

/*========= clinic near you ==========*/
.clinic-near-you .book-appointment-out {
    padding-left: 50px;
}
.clinic-near-you {
    background-image: url(../images/BG-1-min.webp);
    background-repeat: no-repeat;
    padding: 70px 0px 70px;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.find-dental-near-bx .heading h2 {
    font-size: 36px;
    line-height: 40px;
    color: #fff;
}
.find-dental-near-bx .heading hr{
    color: #32B6A8;
}

.find-dental-near-bx {
    padding-right: 30px;
}
.select-view-btn {
    margin-bottom: 40px;
}
.select-view-btn form {
    display: flex;
    justify-content: space-between;
}
.select-view-btn form .input_box {
    width: 70%;
    margin-right: 13px;
}
.select-view-btn .form-control {
    padding: 12px 41px 12px 15px;
    border: none;
    border-radius: 10px;
}
.loc-contact-info h3 {
    font-family: 'Metropolis-Bold';
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}
.clinic-call {
    display: flex;
}
.clinic-call .loc-li-info {
    margin-right: 20px;
}
.loc-li-info.clinic-address {
    width: 80%;
}
.loc-li-info {
    display: flex;
    margin-bottom: 14px;
}
.loc-li-info .info-ic {
    width: 27px;
}
.loc-li-info .info-ic i {
    color: #1d378c;
}
.loc-li-info .info-ic i {
    color: #29696D;
}
.info-add p {
    margin-bottom: 0px;
    font-size: 16px;
    color: #fff;
}
.info-add a {
    color: #fff;
    text-transform: uppercase;
}
.clinic-direc-btn .cmn-btn.cmn-dir {
    margin-right: 10px;
    background: #29696D;
}
.clinic-direc-btn a {
    padding: 11px 14px 9px;
    font-size: 11px;
    background: #D5EAF4 !important;
    color: #000;
}
.clinic-map-bx .row {
    align-items: center;
}
.clinic-direc-btn .cmn-btn.cmn-det {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
.dnt-treat-btn .cmn-btn {
    border: none;
    background: #32B6A8;
    border-radius: 10px;
    padding: 14px 28px 13px;
}
.clinic-map-bx {
    margin-top: 30px;
}
.loc-map iframe {
    width: 100%;
    height: 320px;
    border-radius: 20px;
}

/*appintment info */
.apoint-table table thead tr th {
    color: #FFF;
    text-transform: uppercase;
    font-family:'Metropolis-Bold';
}
.apoint-table th, .apoint-table td {
    border: 1px solid #fff !important;
    padding: 15px 20px;
    line-height: 1;
    color: #fff;
}


.appointment-info {
    margin-top: 50px;
}
.appointment-info .heading {
    text-align: center;
}
.appointment-info .heading h2 {
    font-size: 36px;
    line-height: 40px;
    color: #fff;
}
.appointment-info .heading hr {
    color: #32B6A8;
    margin: 0 auto 30px;
}
.apoint-table {
    padding: 0px 50px;
}
.btn-center {
    margin-top: 40px;
}
.btn-center .cmn-btn {
    background-color: #32B6A8;
}

/*========= end clinic near you ==========*/

/*========== why choose area =========*/
.why-choose-area {
    background-color: #f2f6ff;
    padding: 60px 0px;
}
.why-rgt-img {
    padding-left: 50px;
}
.why-choose-row {
    padding: 0px 80px;
    margin-top: 50px;
}
.why-ic-bx p {
        font-family: 'Metropolis-Medium';
    font-size: 17px;
    padding-left: 20px;
    line-height: 24px;
}
.why-rgt-img img {
    border-radius: 15px;
}
/*========== end why choose area =========*/

/*======== image gallery area ==========*/
.gallery-area {
    padding: 0px 0px 0px;
}

.gallery-img img {
    height: 210px;
    width: 100%;
    object-fit: cover;
}
.gallery-img {
    margin-bottom: 25px;
}
.gallery-img.left-gallery-img img {
    height: 445px;
}
.gallery-area .heading {
    margin-bottom: 25px;
}


/*======== end image gallery area ==========*/

/*========== it works area ==========*/
.it-works-area {
    position: relative;
    padding: 60px 0px 0px;
}
.it-works-slide .owl-carousel .owl-nav button.owl-next, .it-works-slide .owl-carousel .owl-nav button.owl-prev {
    width: 35px;
    height: 35px;
    border: solid 1px #000;
    border-radius: 100px;
    margin-left: 10px;
}
.it-works-slide .owl-carousel .owl-nav button.owl-next:hover, .it-works-slide .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #71569d;
    color: #fff;
    border: solid 1px #71569d;
}
.it-works-slide .owl-nav {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.works-image {
    box-shadow: 0px 4px 7px #cdcbcb;
    padding: 15px 10px;
    margin: 10px;
}
.works-image h3 {
    font-family: 'Metropolis-Bold';
    color: #636363;
    font-size: 20px;
    text-align: center;
    margin: 23px 0px 7px;
}


/*========== end it works area ==========*/

/* ======= how work area ========*/
.how-it-works {
    position: relative;
    padding: 60px 0px 60px;
}
.work-shape {
    position: absolute;
    right: 0;
}
.work-bx {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #5d5d5d;
    padding: 15px 10px;
}
.work-bx span {
    color: #32B6A8;
    font-family: 'Metropolis-Bold';
    font-size: 34px;
    width: 70px;
    margin-right: 6px;
}
.work-bx p {
    width: 85%;
    margin-bottom: 0px;
}
.how-work-img {
    text-align: right;
    position: relative;
}
.how-work-img img{
    width: 90%;
}
.how-it-works .heading {
    margin-bottom: 40px;
}


/* ======= end how work area ========*/

/*======== braces area ========*/
.conter-area {
    padding: 0px 0px 40px;
}
.braces-vs-area {
    padding: 50px 0px;
    background-color: #fff;
}
.braces-head h3 {
    font-family: 'Metropolis-Bold';
    font-size: 30px;
}
.braces-head h6{
    font-family: 'Metropolis-Bold';
    font-size: 30px;
}
.braces-ul h4 {
    color: #32B6A8;
    font-family: 'Metropolis-SemiBold';
}
.braces-head {
    margin-bottom: 12px;
}
.braces-ul ul {
    padding-left: 0px;
    margin-bottom: 15px;
}
.braces-ul ul li {
    position: relative;
    margin: 2px 0px 1px;
    padding-left: 15px;
    list-style: none;
}
.braces-ul ul li:after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #32B6A8;
    position: absolute;
    border-radius: 100px;
    left: -0px;
    top: 7px;
}
.braces-vs-cnt {
    padding-left: 30px;
}


/*======== type of implant =========*/
.type-of-implants {
    padding: 70px 0px;
}
.type-of-implants .heading {
    margin-bottom: 30px;
}
.implant-bx {
    text-align: center;
    margin: 20px;
}
.implant-bx h3 {
    font-family: 'Metropolis-ExtraBold';
    color: #32B6A8;
    font-size: 24px;
    margin-top: 15px;
}
.implant-bx img {
    height: 256px;
    object-fit: contain;
    width: 100%;
    border: solid #eaeaea 1px;
    padding: 50px 0px;
}
.implant-bx p {
    width: 90%;
    margin: 0 auto;
}

/*======== end type of implant =========*/


/*========= doctor team ========*/
.team-of-doctor {
    padding: 50px 0px 60px;
}   
.team-of-doctor .heading {
    margin-bottom: 50px;
}
.dental-team-bx img {
    border-radius: 18px;
    width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: 0 0;
}
.dental-team-bx h4 {
    text-align: center;
    margin-bottom: 0px;
    font-family: 'Metropolis-Bold';
    font-size: 20px;
    margin-top: 15px;
    color: #32B6A8;
    min-height: 48px;
}
.dental-team-bx p {
    text-align: center;
    font-family: 'Metropolis-Bold';
    font-size: 14px;
    margin-bottom: 0px;
}
.dental-team-bx {
    margin: 0;
    border: 2px solid #CCC;
    padding: 10px;
    border-radius: 6px;
    min-height: 480px;
}
/*========= end doctor team ========*/

/*======= testimonial area =======*/
.testi-bg .row {
    padding: 30px 100px 0px;
}
.testi-author img {
    width: 100px !important;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
    border: solid 1px #29696D;
    margin: 0 auto;
}
.testimonials-cnt img {
    width: 24px !important;
    margin: 18px auto 13px;
}
.testi-bg {
    background-image: url(../images/BG-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 170px;
}
.testi-bg .heading h2 {
    color: #fff;
}
.testi-bg .heading hr {
    color: #fff;
}
.testi-owl {
    background-color: #f2f6ff;
    background-image: linear-gradient(to right, #f2f6ff, #f2f6ff);
    padding: 40px 40px 20px;
    border-radius: 15px;
    position: relative;
    width: 75% !important;
    margin: 0 auto;
    text-align: center;
    /*margin-top: -100px;*/
}
.testimonials-cnt p {
    color: #000;
    font-size: 17px;
    width: 80%;
    margin: 0 auto;
}
.testimonials-cnt h6 {
    color: #000;
    font-size: 17px;
    font-family: 'Metropolis-Medium';
}
.testimonials-cnt hr {
    width: 80px;
    opacity: 1;
    color: #71569d;
    margin: 18px auto 20px;
}

.testi-slide .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 48%;
    left: 30px;
    color: #32B6A8;
}
.testi-slide .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 48%;
    right: 30px;
    color: #32B6A8;
}

.testimonials .cmn-btn{
    background-color: #29696D;
}

/*======= end testimonial area =======*/

/*=========== faq area ===========*/
.pos-about-girl {
    position: absolute;
    right: 0;
    text-align: right;
    top: 30px;
}
.pos-about-girl img {
    width: 84%;
}
.faq-about-plan-area.faq-inner {
    padding: 60px 0px 50px;
}
.faq-inner #accordionExample {
    padding: 20px 50px 20px 0px;
}
.faq-about-plan-area .blog-faq .accordion-body {
    background-color: #fff;
    border-left: none;
    padding-left: 0px;
    border-bottom: solid 1px #bababa;
    padding-top: 0px;
}
.faq-about-plan-area .blog-faq .accordion-button {
    font-size: 18px;
    padding: 18px 0px;
}
/*.blog-faq .accordion-item:last-child .accordion-button.collapsed{
    border-bottom: none;
}  */ 

.blog-faq .accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
    box-shadow: none;
}
.blog-faq .accordion-button:focus{
    outline: none;
    box-shadow: none;
}
.blog-faq .accordion-body {
    background-color: #f9f9f9;
    border-left: solid 2px #fc861f;
    font-size: 15px;
    color: #000;
}
.blog-faq .accordion-button {
    font-size: 16px;
    padding: 16px 0px;
    font-family: 'Metropolis-SemiBold';
    color: #000;
}
.blog-faq .accordion-button.collapsed{
     border-bottom: solid 1px #bababa;   
}

.blog-faq  .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.blog-faq .accordion-item {
    background-color: #fff;
    border: none;
}
.blog-faq .accordion-button:not(.collapsed)::after {
    background-image: none;
    font-family: "FontAwesome";
    font-weight: 300;
    content: "\f068";
    font-size: 11px;
}
.blog-faq .accordion-button::after {
    background-image: none;
    font-family: "FontAwesome";
    font-weight: 300;
    content: "\f067 ";
    font-size: 11px;
    width: auto;
}
/*=========== end faq area ===========*/

/*======== call popup area =========*/
.call-back-area.book-appointment h2 {
    text-transform: uppercase;
}
.dr-video-pop .modal-dialog {
    max-width: 600px;
    height: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.appointment-pop .modal-content {
    border-radius: 20px;
}
.dr-video-pop .btn-close {
    position: absolute;
    right: -21px;
    filter: invert(1);
    opacity: 1;
    background-color: #fff;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    top: -10px;
    z-index: 999;
}
.call-back-area.book-appointment {
    box-shadow: none;
}
/*======== end call popup area =========*/
/*========= footer area ==========*/

.bottom-footer {
    background-color: #29696D;
    padding: 15px 30px;
}
.inner-foot-botm {
    display: flex;
    justify-content: space-between;
}
.foot-prcy p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0px;
}
.foot-prcy p a {
    color: #fff;
}

/*========= end footer area ==========*/